* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

.contain {
    padding: 30px 50px;
}

.container {
    padding: 0px 90px;
}

header {
    background-color: #efefef;
}

header a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #666666;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
}

header a::before {
    content: "\2190";
    margin: 0px 10px;
}

.Terms {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: #666666;
    line-height: 36px;
    margin: 50px 0px 150px;
}


footer {
    background-color: #f2f2f2;
    padding: 40px 0px;
    text-align: center;
}

.footline {
    height: 1px;
    width: 45%;
    border: 1px solid #a9a9a9;
}

.foot1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.footer-nav ul li {
    margin: 0px 10px;
    padding-left: 50px;
    list-style: none;
}

.footer-nav ul li a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #484848;
}

footer small {
    color: #484848;
    font-size: 1em;
    font-family: 'Jost', sans-serif;
}




/*MEDIA QUERIES*/

/*SMALL SCREEN PHONES*/

@media (max-width: 375px) {
    .contain {
        padding: 30px 20px 15px;
    }
    
    header a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #666666;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1em;
    }
    
    header a::before {
        content: "\2190";
        margin: 0px 0px;
    }

    .container {
        padding: 0px 20px;
    }

    .Terms {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
        color: #666666;
        line-height: 36px;
        margin: 50px 0px 150px;
    }

    .footer-logo {
        width: 10%;
        height: 10%;
    }
    
    footer {
        background-color: #f2f2f2;
        padding: 40px 0px;
        text-align: center;
    }

    .footline {
        height: 1px;
        width: 42%;
        border: 1px solid #a9a9a9;
    }

    .foot1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-nav ul {
        display: flex;
        justify-content: space-around;
        margin: 30px 0px;
    }
    
    .footer-nav ul li {
        margin: 0px 0px;
        padding-left: 20px;
        list-style: none;
    }
    
    .footer-nav ul li a {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        color: #484848;
        font-size: 13px;
        line-height: 18px;
    }
    
    footer small {
        color: #484848;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        font-family: 'Jost', sans-serif;
    }
}


/*MEDIUM & BIG SMART PHONES*/

@media (min-width:375.99px) and (max-width: 750px) {
    .contain {
        padding: 30px 20px 15px;
    }

    header a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #666666;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.1em;
    }
    
    header a::before {
        content: "\2190";
        margin: 0px 0px;
    }

    .container {
        padding: 0px 20px;
    }

    .Terms {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1em;
        color: #666666;
        line-height: 36px;
        margin: 50px 0px 150px;
    }

    .footer-logo {
        width: 10%;
        height: 10%;
    }
    
    footer {
        background-color: #f2f2f2;
        padding: 40px 0px;
        text-align: center;
    }

    .footline {
        height: 1px;
        width: 42%;
        border: 1px solid #a9a9a9;
    }

    .foot1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-nav ul {
        display: flex;
        justify-content: space-around;
        margin: 30px 0px;
    }
    
    .footer-nav ul li {
        margin: 0px 0px;
        padding-left: 20px;
        list-style: none;
    }
    
    .footer-nav ul li a {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        color: #484848;
        font-size: 13px;
        line-height: 18px;
    }
    
    footer small {
        color: #484848;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        font-family: 'Jost', sans-serif;
    }

}

/*IPAD & TABLET*/

@media (min-width:750.99px) and (max-width: 1021.99px) {
    .contain {
        padding: 40px 20px 20px 20px;
    }

    header a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #666666;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.3em;
    }
    
    header a::before {
        content: "\2190";
        margin: 0px 0px;
    }

    .container {
        padding: 0px 20px;
    }

    .Terms {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2em;
        color: #666666;
        line-height: 36px;
        margin: 50px 0px 150px;
    }

    .footer-logo {
        width: 8%;
        height: 10%;
    }

    footer {
        background-color: #f2f2f2;
        padding: 40px 0px;
        text-align: center;
    }
    
    .footline {
        height: 1px;
        width: 43%;
        border: 1px solid #a9a9a9;
    }

    .foot1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-nav ul {
        display: flex;
        justify-content: space-around;
        margin: 30px 020px;
    }
    
    .footer-nav ul li {
        margin: 0px 0px;
        padding-left: 20px;
        list-style: none;
    }
    
    .footer-nav ul li a {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        color: #484848;
        font-size: 14px;
        line-height: 20px;
    }
    
    footer small {
        color: #484848;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        font-family: 'Jost', sans-serif;
    }

}


/*MEDIUM SIZE LAPTOPS*/

@media (min-width: 1022px) and (max-width: 1279.99px) {
    .contain {
        padding: 40px 50px 20px;
    }
    
    header a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #666666;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.3em;
    }
    
    header a::before {
        content: "\2190";
        margin: 0px 0px;
    }

    .container {
        padding: 0px 50px;
    }

    .Terms {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3em;
        color: #666666;
        line-height: 36px;
        margin: 50px 0px 150px;
    }

    footer {
        background-color: #f2f2f2;
        padding: 40px 0px;
        text-align: center;
    }
    
    .footline {
        height: 1px;
        width: 45%;
        border: 1px solid #a9a9a9;
    }
    
    .foot1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-nav ul {
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }
    
    .footer-nav ul li {
        margin: 0px 10px;
        padding-left: 50px;
        list-style: none;
    }
    
    .footer-nav ul li a {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        color: #484848;
    }
    
    footer small {
        color: #484848;
        font-size: 1em;
        font-family: 'Jost', sans-serif;
    }
}


/*LARGE SCREEN*/

@media (min-width: 1280px) {
    .contain {
        padding: 30px 50px 15px;
    }
    
    header a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #666666;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.4em;
    }
    
    header a::before {
        content: "\2190";
        margin: 0px 0px;
    }

    .container {
        padding: 0px 50px;
    }

    .Terms {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4em;
        color: #666666;
        line-height: 36px;
        margin: 50px 0px 150px;
    }

    footer {
        background-color: #f2f2f2;
        padding: 40px 0px;
        text-align: center;
    }
    
    .footline {
        height: 1px;
        width: 45%;
        border: 1px solid #a9a9a9;
    }
    
    .foot1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-nav ul {
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }
    
    .footer-nav ul li {
        margin: 0px 10px;
        padding-left: 50px;
        list-style: none;
    }
    
    .footer-nav ul li a {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        color: #484848;
    }
    
    footer small {
        color: #484848;
        font-size: 1em;
        font-family: 'Jost', sans-serif;
    }

}

